@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.main {
  min-height: 100vh;
  display: grid;
}

.sezione-liste {
  margin: 1em 0;
}

form > * {
  margin: 0em 0.5em 0.5em 0em;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent-primary);
  transition: 0.4s;
}

.bg-green {
  background-color: var(--color-accent-primary);
}

.push-right {
  margin-left: auto !important;
}

button.btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-highlight {
  color: var(--color-accent-primary);
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: var(--color-accent-darker);
    color: var(--color-accent-primary);
  }

  .bg-green:hover {
    background-color: var(--color-accent-highlight);
    color: var(--bs-btn-color);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 0 2rem;
  }
}
